#/bin/sh

echo "============== Begin run prod"

set -e

docker login -u {{docker_user}} -p {{docker_pass}} {{docker_registry}}

/usr/local/bin/docker-compose stop server
/usr/local/bin/docker-compose rm -f server
/usr/local/bin/docker-compose pull server
/usr/local/bin/docker-compose up -d --build server metabase-app web nginx

echo "============== Done run prod"
